.button {
  background-color: #4a80ff;
  color: #ffffff;
  height: 50px;
  text-decoration: none;
  border-style: none;
}

input {
  border: 1px solid #dadada;
  height: 40px;
  padding-left: 15px;
  margin-bottom: 30px;
}
